@import './variable';

.login-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    .login-main{
        height: 100%;
    }
    .login-bg{
        height: 100%;
        background-image: url(../assets/images/bg.jpg);
        background-size: cover;
    }
}